node_modules/
.pnpm/
.pnpm-debug.log
.env
.env.*

dist/
build/
out/
*.tsbuildinfo

.wrangler/
wrangler.jsonc.local

drizzle/migrations/sqlite.db
drizzle/migrations/*.sqlite
drizzle/migrations/*.ts.map
drizzle/migrations/.cache/

.DS_Store
Thumbs.db

.vscode/

*.log
npm-debug.log*
pnpm-debug.log*

.github/*.log


.react-router/

.mf
.wrangler
.dev.vars*

